<nav class="navbar navbar">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="nav nav-tabs">
        <li>{{#link-to "myStories" class="active"}}My Stories{{/link-to}}</li>
        <li>{{#link-to "myContributions"}}My Contributions{{/link-to}}</li>
        <li>{{#link-to "myPending"}}Pending Approval{{/link-to}}</li>
        <li>{{#link-to "myStarred"}}Starred{{/link-to}}</li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
